// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.b-sidebar {
  width: 350px;
  border-left: 1px solid var(--border-primary);
  color: unset !important;
  background-color: var(--background-body) !important;

  .b-sidebar-body {
    overflow-y: auto !important;
    height: initial !important;
    grid-column: 2 / 2;
    padding-left: 30px;

    @media (max-width: 991.98px) {
      grid-column: 1;
    }

    .improve {
      position: relative;
      color: black;

      &::before {
        content: "";
        position: absolute;
        top: -17px;
        left: -30px;
        height: 55px;
        width: calc(100% + 30px);
        background-color: $ubuntu-orange;
        z-index: -1;
      }
    }

    hr {
      border-top: 1px solid var(--border-primary);
      height: unset !important;
      position: relative;
      top: 0;
      color: $gray-light;
      left: -30px;
      width: calc(100% + 30px);
      z-index: 1;
    }

    ul {
      border-top: 1px solid var(--border-primary);
      margin-left: -30px;
      background-color: var(--background-tertiary);
      border-bottom: 1px solid var(--border-primary);

      li {
        margin: 5px 0 0;
        padding: 10px 50px 10px 30px;
        transition: 0.3s;
        position: relative;
        font-weight: 100;
        cursor: pointer;

        &::before {
          content: "";
          display: inline-table;
          position: absolute;
          left: -25px;
        }

        .locked::before {
          content: "\1F512";
          filter: grayscale(1);
        }

        h3 {
          font-size: 16px;
          padding-bottom: 4px;
        }

        a {
          transition: color 0.3s;
        }

        &:hover {
          padding: 10px 60px 10px 20px;

          a {
            color: var(--link-primary);
          }

          h3 {
            text-decoration: underline;
          }

          span {
            color: var(--text-primary);
          }
        }
      }
    }

    .related {
      margin-top: 50px;

      ul li {
        padding-top: 3px;
        padding-bottom: 3px;

        a {
          color: var(--link-primary);
        }
      }
    }

    .title {
      margin-top: 30px;
      margin-bottom: 15px;
      font-size: 12px;
    }
  }

  &-header .close svg {
    fill: var(--text-primary);
  }
}
